### CHALLENGE: Financial inclusion in Africa

### Problem Statement

Required to build Machine Learning Model to predict the llikehood of an Individial to posses an bank Account or Not.

Remember to read the challenge details in the zindi platform, [Zindi Africa](https://zindi.africa)

In [98]:
from PIL import Image

In [74]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
#Saving best model 
import joblib

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [75]:
df =  pd.read_csv("train.csv")

In [76]:
pd.set_option("display.max_colwidth", 50)

In [77]:
df.shape

(23524, 13)

In [78]:
df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [79]:
df.columns

Index(['country', 'year', 'uniqueid', 'bank_account', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type'],
      dtype='object')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB

In [81]:
df = df.drop(["uniqueid"],1)

In [82]:
df.bank_account.value_counts()

No     20212
Yes     3312
Name: bank_account, dtype: int64

In [83]:
df.dtypes

country                   object
year                       int64
bank_account              object
location_type             object
cellphone_access          object
household_size             int64
age_of_respondent          int64
gender_of_respondent      object
relationship_with_head    object
marital_status            object
education_level           object
job_type                  object
dtype: object

In [84]:
df.country.unique()

array(['Kenya', 'Rwanda', 'Tanzania', 'Uganda'], dtype=object)

In [85]:
df.year.unique()

array([2018, 2016, 2017])

In [86]:
df.location_type.unique()

array(['Rural', 'Urban'], dtype=object)

In [87]:
df.cellphone_access.unique()

array(['Yes', 'No'], dtype=object)

In [88]:
df.gender_of_respondent.unique()

array(['Female', 'Male'], dtype=object)

In [89]:
df.relationship_with_head.unique()

array(['Spouse', 'Head of Household', 'Other relative', 'Child', 'Parent',
       'Other non-relatives'], dtype=object)

In [90]:
df.marital_status.unique()

array(['Married/Living together', 'Widowed', 'Single/Never Married',
       'Divorced/Seperated', 'Dont know'], dtype=object)

In [91]:
df.education_level.unique()

array(['Secondary education', 'No formal education',
       'Vocational/Specialised training', 'Primary education',
       'Tertiary education', 'Other/Dont know/RTA'], dtype=object)

In [92]:
df.job_type.unique()

array(['Self employed', 'Government Dependent',
       'Formally employed Private', 'Informally employed',
       'Formally employed Government', 'Farming and Fishing',
       'Remittance Dependent', 'Other Income',
       'Dont Know/Refuse to answer', 'No Income'], dtype=object)

In [93]:
# check for null values

df.isnull().sum().any()

False

### Preprocessing

In [94]:
df['location_type'] = le.fit_transform(df['location_type'])
df['cellphone_access'] = le.fit_transform(df['cellphone_access'])
df['gender_of_respondent'] = le.fit_transform(df['gender_of_respondent'])
df['relationship_with_head'] = le.fit_transform(df['relationship_with_head'])
df['education_level'] = le.fit_transform(df['education_level'])
df['marital_status'] = le.fit_transform(df['marital_status'])
df['job_type'] = le.fit_transform(df['job_type'])
df['bank_account'] = le.fit_transform(df['bank_account'])

In [95]:
df.head()

,country,year,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,1,0,1,3,24,0,5,2,3,9
1,Kenya,2018,0,0,0,5,70,0,1,4,0,4
2,Kenya,2018,1,1,1,5,26,1,3,3,5,9
3,Kenya,2018,0,0,1,5,34,0,1,2,2,3
4,Kenya,2018,0,1,0,8,26,1,0,3,2,5

### Select Features

In [96]:
# Separate features and target

feat_cols = df.drop(['year','bank_account', 'country'], axis=1)

target = df['bank_account']

cols = feat_cols.columns

In [97]:
df[cols].columns

Index(['location_type', 'cellphone_access', 'household_size',
       'age_of_respondent', 'gender_of_respondent', 'relationship_with_head',
       'marital_status', 'education_level', 'job_type'],
      dtype='object')

In [69]:
df[cols].shape , target.shape

((23524, 9), (23524,))

In [70]:
seed = 2020

In [71]:
# splitting data for training Models and evaluation


X_train, X_test, y_train, y_test = train_test_split(df[cols], target, stratify = target, test_size = 0.2, random_state = seed)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(18819, 9) (18819,)
(4705, 9) (4705,)

In [72]:
# initialize the model

model = RandomForestClassifier()

# training model 

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# Evaluation

print("Accuracy ",  accuracy_score(y_test, y_pred))

Accuracy  0.8631243358129649

In [73]:

#Sava the model to disk
filename = 'model.sav'
joblib.dump(model, filename)

['model.sav']